<app-header />

<main>
  <ul id="users">
    @for (user of users; track user.id){
    <li>
      <app-user
        [user]="user"
        [selected]="user.id === selectedUserId"
        (select)="onSelectUser($event)"
        (select2)="onSelectUser2($event)"
      />
    </li>
    }
  </ul>

  @if (selectedUser){
  <app-tasks
    [userId]="selectedUser.id"
    [name]="selectedUser.name"
    (newTask)="onNewTask($event)"
  />
  } @else {
  <p id="fallback">Select a user to see their tasks!</p>
  } @if ((newTask)){
  <app-new-task 
    (newTask)="onNewTask($event)"
    (newTaskObj)="onConfirmNewTask($event)";
  />
  }
</main>
